extends _page

prepend navigation
    if (hasName(breadcrumbs))
        -crumb="Tablets"
    - icon="trophy"
    - title = "Tablets"

block content
    .max60
        +card(title, icon)
            if (!api.tablets)
                .card-statement.mb-2 There are no observations yet
            else
                table.table.table-sm.table-clickable
                    thead
                        tr
                            th Tag
                            th.sm-up Model
                            th.sm-up Version
                            th Activity
                            th Time
                            th ACU
                            th Signal
                            th Battery
                            //th Modified
                    - var tag = ""
                    each tablet in api.tablets
                        tbody.font90
                            tr
                                td=tablet.tag
                                td.sm-up=tablet.model
                                td.sm-up=tablet.version
                                td=tablet.activity
                                td=dateFormat(tablet.logTime, "ddd, HH:MM")
                                td=tablet.accessPoint
                                td=tablet.signal
                                td=tablet.battery
                                //td=dateFormat(tablet.dateModified, "dd-mm-yy HH:MM:ss")
