extends _page

prepend navigation
    if (hasName(breadcrumbs))
        -crumb="KC Clubs"
    - icon="cogs"
    - title = "KC Clubs"
        
append scripts
    script.
        jQuery(document).ready(function ($) {
            $(".clickable-row").click(function () {
                window.location = $(this).data("href");
            });
        });

block content
    - var priority = -1
    .max60
        +card(title, icon)
            table.table.table-sm.table-clickable
                
                each entity in api.entities
                    if entity.marketingPriority != priority
                        - priority = entity.marketingPriority
                        thead
                            tr
                                th.group(colspan="99") Priority #{priority}
                            tr
                                th Club
                                th Key
                                th Secretary
                                th Phone
                                th Email
                    tbody.font80
                        tr.clickable-row(data-href="/entity/marketing/" + entity.idEntity)
                            td=entity.name
                            td=entity.entityKey
                            td=entity.secretary
                            td=entity.phone
                            td=entity.email
