extends _page

prepend navigation
    if (hasName(breadcrumbs, api.competition.uniqueName))
        -crumb="Enter"
    else
        -crumb="Enter " +  api.competition.uniqueName;
    - icon="ticket-alt"
    - title = "Enter " +  api.competition.name

append scripts
    +bind_form()

    script.

        function checkMax(checkbox) {
            var runCheck = checkbox.getAttribute("data-run-check-link")
            var runMax = checkbox.getAttribute("data-run-check-max")
            var runs = 0
            var select = "[data-run-check-link = '" + runCheck + "']"
            $(select).each(function () {
                var runCount = parseInt(this.getAttribute("data-run-check-count"))
                if (this.checked) runs = runs + runCount
            })

            $(select).each(function () {
                if (!this.checked) {
                    var runCount = parseInt(this.getAttribute("data-run-check-count"))
                    this.disabled = runMax > 0 && runs + runCount > runMax
                }
            })
        }
        

        function checkAllOrNothing(checkbox) {
            var runCheck = checkbox.getAttribute("data-run-check-link")
            var select = "[data-run-check-link = '" + runCheck + "']"
            $(select).each(function () {
                this.checked = checkbox.checked
            })
        }

        function checkRuns(checkbox) {
            if (apiData.competition.allOrNothing) {
                checkAllOrNothing(checkbox)
            } else {
                checkMax(checkbox)
            }
        }

        $(document).ready(function ($) {
            $("[data-run-check]").each(function () {
                checkRuns(this)
            });

           /* checkCamping() */

        });

        $("[data-run-check]").change(function () {
            checkRuns(this)
        });

        /*
        $("[data-camping-rate]").change(function () {
            checkCamping(this)
        });
        */




block content

    if (error == 1)
        .page-warning No classes available
        .m-2
            +button("back", "Finished", "arrow-left")
    else if beforeToday(api.competition.dateCloses) && !api.competition.openForPaper && api.user.access!=9 && api.user.access != 1
        .page-warning Closed for Entries
        .m-2
            +button("back", "Finished", "arrow-left")
    else

        .max40
            +card("Step 2 - Select Classes and Optional Extras", icon)
                if api.competition.minimumFeeText
                    .alert.alert-danger. 
                        There is a minimum entry fee of #{api.competition.minimumFeeText} per dog. You may 
                        enter less than #{api.competition.minimumFeeEqiv} classes but you will still be charged 
                        this amount.
                if api.competition.maximumFeeText
                    .alert.alert-warning. 
                        Your entry fee will total no more than #{api.competition.maximumFeeText} per dog. Your class fees will be adjusted at the checkout.
                if (api.ageBlock)
                    .alert.alert-info.
                        There are age related classes that are not being offered as you do not have anyone in your
                        household that matches the age ranges. Please check the schedule for more details.
                if (api.ykcBlock)
                    .alert.alert-info.
                        There are YKC classes that are not being offered as you do not have a YKC member in your
                        household that matches the age ranges. Please check the schedule for more details.
                if api.competition.maxRuns>0
                    - var hintText="Un-entered classes will be 'grayed-out' once you reach the <span class=emphasize>maximum of " + api.competition.maxRuns + " runs per day</span> (see schedule). "
                if api.symbols && api.symbols.includes("#")
                    - hintText += " Hash (#) indicates LHO with separate results."
                if api.symbols && api.symbols.includes("*")
                    - hintText += " Asterisk (*) indicates LHO with combined results"
                if hintText
                    +hint(hintText)

                +form()

                    each dog in api.dogs
                        -var index=0
                        -var dogIndex=api.dogs.indexOf(dog)
                        - description =  dog.petName + " (" + codeToText(dog.gradeCode, allGrades) + ", " + codeToText(dog.jumpHeightCode, allHeights) + (dog.clearRoundOnly?" CRO":"") + ")"
                        +cardSection(description, "paw")
                            if (dog.champBlock)
                                .alert.alert-warning.
                                    You are not being offered #[strong Championship classes] because you
                                    have not completed the qualifying wins on your dog's details. See FAQs.
                            if (dog.days == undefined)
                                h5 No classes available
                            else
                                table.table.table-xs.mb-1
                                    tr
                                        th Class
                                        th.width3 Enter
                                        if !api.competition.combinedFee
                                            th.width4.text-xs-right Fee
                                    each day in dog.days
                                        -var dayIndex = dog.days.indexOf(day)
                                        tr
                                        td(colspan=99)
                                            .group2 #{dateFormat(day.classDate, "dddd, d mmmm")}
                                        each agilityClass in day.classes
                                            - var classIndex = day.classes.indexOf(agilityClass)
                                            - var bind = "dogs." + dogIndex + ".days." + dayIndex + ".classes." + classIndex
                                            tr
                                                td.align-middle.clickable-cell(data-link=dog.petName + index).pl-2 #{agilityClass.name}
                                                td.align-middle.pl-half
                                                    +checkbox(dog.petName + index, bind + ".confirmed", "", {
                                                        extra: {
                                                            "data-run-check": true,
                                                            "data-run-check-link": "dogs." + dogIndex + ".days." + dayIndex,
                                                            "data-run-check-max": day.maxRuns,
                                                            "data-run-check-count": agilityClass.runCount
                                                        }
                                                    })
                                                if !api.competition.combinedFee
                                                    td.align-middle.text-xs-right.clickable-cell(data-link=dog.petName + index) #{toMoney(agilityClass.fee)}
                                            - index++
                                if api.competition.combinedFee
                                    div.font90.text-xs-right Entry fee: #{toMoney(dog.entryFee)}

                    if api.camping
                        if api.camping.blocks
                            +cardSection("Camping", "bed")
                                if api.camping.full
                                    .alert.alert-danger.font90 Sorry camping is now full and we are not accepting any further applications to join the waiting list.
                                else
                                    if api.camping.note
                                        .alert.alert-info.font90!=api.camping.note
    
                                    if api.camping.blockNote
                                        .alert.alert-info.font90!=api.camping.blockNote
                                        
                                    if api.camping.alert
                                        .emphasize.font90.mb-1!=api.camping.alert
    
                                    table.table.table-xs
                                        tr
                                            th Night
                                            th.text-xs-center.width5 Booked
                                            th.text-xs-right.width4 Fee
                                        each block in api.camping.blocks
                                            -var blockIndex = api.camping.blocks.indexOf(block)
                                            - var bind = "camping.blocks." + blockIndex + ".confirmed"
                                            tr
                                                if block.end
                                                    td.align-middle.clickable-cell(data-link="camping" + blockIndex) #{dateFormat(block.start, "ddd, dd mmm")} - #{dateFormat(block.end, "ddd, dd mmm")}
                                                else
                                                    td.align-middle.clickable-cell(data-link="camping" + blockIndex) #{dateFormat(block.start, "ddd, dd mmm")}
                                                if api.camping.paid && !api.competition.paper
                                                    td.text-xs-center &#10004;
                                                    td.align-middle.text-xs-right.clickable-cell(data-link="camping" + blockIndex).font90 Paid
                                                else
                                                    td.text-xs-center
                                                        +checkbox("camping" + blockIndex, bind, "", {extra: {"data-camping-rate": block.rate}})
                                                    td.align-middle.text-xs-right.clickable-cell(data-link="camping" + blockIndex) #{toMoney(block.rate)}
                                    .mt-1
                                    +hint().
                                        If you are camping as part of a group, enter the name of the group in the space below. Make sure each member of your
                                        group enters #[strong exactly] the same name.
                                    +input("text", "helpGroup", "camping.groupName", "Group Name")
                            
                                    if api.camping.terms
                                        .heading.font80 Camping Terms
                                        .font80!=api.camping.terms
                        

                    if (api.options != undefined)
                        +cardSection("Options", "shopping-basket")
                            table.table.table-xs
                                tr
                                    th Item
                                    th.text-xs-center.width5 Selected
                                    th.text-xs-right.width4 Fee
                                each option in api.options
                                    - var bindConfirmed = "options." + api.options.indexOf(option) + ".confirmed"
                                    - var bindQuantity = "options." + api.options.indexOf(option) + ".quantity"

                                    tr
                                        td.align-middle= option.description
                                        if option.needsQuantity
                                            td.text-xs-center
                                                +input("text", "quantity", bindQuantity, "", {})
                                        else
                                            td.text-xs-center
                                                if option.readOnly
                                                    span!=option.confirmed? "&#10004;" : "&#10005;"
                                                else
                                                    +checkbox("option", bindConfirmed, "")
                                        td.align-middle.text-xs-right #{toMoney(option.unitPrice)}
                    +button("submit", "Continue", "check")



