extends _page

prepend navigation
    - crumb="Checkout"
    - title = api.competition.name + " - Checkout"
    - icon = "shopping-cart"

append scripts
    +bind_form()

    script(src="https://cdn.jsdelivr.net/npm/autonumeric@4.0.1")
    script.
        $(document).ready(function () {
            new AutoNumeric("#cheque", apiData.competition.cheque / 100.00).british();
            new AutoNumeric("#cash", apiData.competition.cash / 100.00).british();
            totals()
        })

        $("#cheque").keyup(function (event) {
            totals()
        })
        $("#cash").keyup(function (event) {
            totals()
        })

        function totals() {
            var cheque = Math.round($("#cheque").val().replace("£", "").replace(",", "") * 100);
            var cash = Math.round($("#cash").val().replace("£", "").replace(",", "") * 100);
            var total = cheque + cash;
            var diff = apiData.amounts.totalFees - total;
            $("#total").val("£" + (total / 100.00).toFixed(2));
            if (diff < 0) {
                $("#paid").text("Overpaid by £" + (-diff / 100.00).toFixed(2))
            } else if (diff > 0) {
                $("#paid").text("Underpaid by £" + (diff / 100.00).toFixed(2) + " !!!")
            } else {
                $("#paid").text("")
            }

        }


block content
    .max30
        +card(api.competition.name + " - Checkout", icon)
            if (!api.items)
                p.mb-1.
                    You have not ticked any boxes - Please press the button below to confirm that you do not wish
                    to enter this show. If you had previously entered, your entry will be deleted.
                +form()
                    +button("submit", "Confirm", "check")

            else
                +cardSection("Purchases", icon)
                    table.table.table-sm.table-striped
                        tr
                            th Item
                            th Description
                            th.text-xs-right Cost
                        each item in api.items
                            tr
                                td= api.items.indexOf(item) + 1
                                td= item.description
                                td.text-xs-right= toMoney(item.subTotal)
                        tr
                            td(colspan=2) #[strong Total]
                            td.text-xs-right
                                strong= toMoney(api.amounts.totalFees)

                if api.user.access == 0
                    .alert.alert-info.font90.
                        This show will close when the capping level is reached or in any event on #{dateFormat(api.competition.dateCloses, "ddd, dd mmmm")}.
                        You will be able to change or cancel your #{api.competition.name} entry at any time before this point.
                    -var buttonCaption="Confirm"
                    if (api.competition.noPost)
                        +hint("You have chosen not to have ring cards etc. sent by post. Instead, we will email these to you and they can be downloaded from this website.")
                    +form()
                        +button("submit", buttonCaption, "check")
                    .mb-1
                    .alert.alert-terms
                        .font-weight-bold What am I Confirming?
                        .font90.
                            By pressing the 'Confirm' button you agree to submit to and be bound by the CSJ Agility Open
                            Rules & Regulations in their present form or as they may be amended from time to time. You
                            also agree to not bring to the Show any dog, which has contracted or been knowingly exposed
                            to any infectious or contagious disease during the 21 days prior to the event. You further
                            declare that you believe to the best of your knowledge that the dogs are not liable to
                            disqualification under the CSJ Agility Open Rules & Regulations. You also accept that you
                            enter at your own risk.

                else if api.competition.paper
                    +cardSection("Payment Received", "pound-sign")
                        +form()
                            +input("money", "cheque", "competition.cheque", "Cheque")
                            +input("money", "cash", "competition.cash", "Cash")
                            +input("readonly", "total", "", "Total")
                            +button("submit", "Accept Entry", "check")
                            span#paid
                else
                    +form()
                        +button("submit", "Confirm", "check")